.logo {
    // animation: App-logo-spin infinite 20s linear;
    margin-right: 0;

    img {
        height: $logo-height;
        pointer-events: none;
    }
}

// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }

//     to {
//         transform: rotate(360deg);
//     }
// }