.truck-list {
    margin-bottom: 2rem;

    &__table {
        overflow-x: auto;
        @include custom-scrollbar-x();
    }

    &__pagination {
        ul {
            margin-top: 1rem;
        }
    }

    table {
        text-align: center;
    }

    .col-price {
        text-align: right;
    }

    tbody {

        .col-price,
        .col-dimension {
            white-space: nowrap;
        }

        td {
            vertical-align: middle;
        }
    }

    .col-parking-address .content-wrapper,
    .col-desc .content-wrapper {
        display: inline-block;
    }

    .col-parking-address .content-wrapper {
        min-width: 10rem;
    }

    .col-desc .content-wrapper {
        min-width: 13rem;
    }

    .item__action {
        display: flex;
        justify-content: center;

        a {
            font-size: .85em;
            padding: 2px 5px;
            // margin: 2px .5rem;
        }
    }
}

.col-sortable {
    a {
        @extend .dropdown-toggle;
        color: $body-color;

        &.none {
            &:after {
                color: $gray-500;
            }
        }

        &.asc {
            &:after {
                transform: rotate(180deg);
            }
        }
    }
}

.btn-addnewtruck {
    margin-bottom: 2rem;
    height: 52px;
    line-height: 2.2;
}

.noitems {
    padding: 2rem 0;
    display: block;
}

.page-link {
    &:focus {
        box-shadow: none;
        border-color: #999;
    }
}